.skills {
    padding: 60px 0px;
    background-color: var(--light-color-secundary);
}

.section__text {
    width: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.skills h2 {
    text-align: center;
    color: var(--light-text);
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 5px solid var(--light-text);
}

.cont__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.skill {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.skill div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.skill div img {
    width: 50px;
}

.skill:nth-child(1) div {
    background-color: rgba(255, 98, 0, 0.12);
}

.skill:nth-child(2) div {
    background-color: rgba(0, 187, 255, 0.12);
}

.skill:nth-child(3) div {
    background-color: rgba(145, 84, 215, 0.12);
}

.skill:nth-child(4) div {
    background-color: rgba(222, 191, 36, 0.18);
}

.skill:nth-child(4) div img {
    width: 40px;
    height: 40px;
}

.skill:nth-child(5) div {
    background-color: rgba(111, 120, 225, 0.15);
}

.skill:nth-child(6) div {
    background-color: rgba(23, 186, 183, 0.1);
}

.skill:nth-child(7) div {
    background-color: rgba(143, 112, 255, 0.2);

}

.skill:nth-child(8) div {
    background-color: rgba(222, 76, 54, 0.13);
}

h4 {
    color: var(--light-text);
}

@media only screen and (max-width:900px) {
    .cont__skills {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width:650px) {
    .cont__skills {
        grid-template-columns: 1fr 1fr;
    }
    .skill{
        padding: 0;
    }
}